@media (max-width: 768px){
    .formulario{
        display: none;
    }
    .menu-item{
        font-size: 14px;
    }
    
    .video{
        width: 300px;
        height: 200px;
    }

    .home{
        width: 100%;
        border-radius: 35px;
        margin: 0;
    }
    .city-img{
        display: block;
        width: 100%;
    }
    .char-card{
        display: none;
    }
    .char_vid{
        display: flex;
        width: 100%;
    }
    .hist-card{
        display: none;
    }
    .chars .chars-item{
        width: 30%;
    }
    .hist-text>h2{
        text-align: center;
    }



    .map_responsive iframe{
        overflow: hidden;
        width: 100%;
    }
}