body{
    background-image: url("/assets/Background_home.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Dancing Script';
}

.char_bkg{
    background-image: url(/assets/Character_background.png);
}

.hist_bkg{
    background-image: url(/assets/login_screen.png);
}

.mond_bkg{
    background-image: url(/assets/Mondstadt_background.png);
}

.liyue_bkg{
    background-image: url(/assets/Liyue_background.png);
}

.inazuma_bkg{
    background-image: url(/assets/Inazuma_background.png);
}

.sumeru_bkg{
    background-image: url(/assets/Sumeru_background.png);
}

.city{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.city .city-text{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.city-text>p{
    margin-bottom: 10px;
}

.city-text>h2{
    margin-bottom: 25px;
}

.city .city-img{
    width: 50%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    float:left;
    margin-right: 15px;
}

b{
    font-weight: bold;
}

h2:first-letter{
    font-style: italic;
}

h2::first-line{
    font-weight: bold;
}

.cabeçalho{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0px;
    text-shadow: 2px 2px #FFFFFF;
}

.sumario{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.sumario>p{
    margin-bottom: 10px;
}

.sumario>h2{
    margin-bottom: 25px;
}

.reg{
    text-align: center;
    display: inline-table;
    padding: 5px;
}

.reg .reg-item{
    width: 20%;
    transition: 400ms;
}

.reg .reg-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.chars{
    text-align: center;
    display: inline-table;
    padding: 0% 3%;
}

.chars .chars-item{
    width: 20%;
    transition: 400ms;
}

.chars .chars-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.char-box{
    display: flex;
    flex-direction: row-reverse;
    float: right;
    padding-left: 15px;
    overflow: hidden;
}

.char-box .char-card{
    width: 230px;
}

.char-box .char-text{
    padding: 15px;
    margin-bottom: 10px;
}

.char-text>h2{
    text-align: justify;
    font-size: 40px;
    margin-bottom: 20px;
}

.char-text>p{
    text-align: justify;
    font-size: 25px;
}

.histcard{
    display: flex;
    padding: 15px;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
}

.histcard .histcard-item{
    transition: 400ms;
}

.histcard .histcard-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hist-box{
    display: flex;
    flex-direction: row-reverse;
    float: right;
    padding-left: 15px;
    overflow: hidden;
}

.hist-box .hist-card{
    width: 230px;
}

.hist-box .hist-text{
    padding: 15px;
    margin-bottom: 10px;
}

.hist-text>h2{
    text-align: justify;
    font-size: 40px;
    margin-bottom: 20px;
}

.hist-text>p{
    text-align: justify;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home{
    width: 60%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    float:left;
    margin-right: 15px;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.menu .menu-item{
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    user-select: none;
    transition: color 0.5s, transform 0.1s;
}

a:link, a:visited{
    color: black;
}

.menu .menu-item:hover{
    cursor: pointer;
    color: purple;
    transform: scale(1.1);
}

.formulario{
    background-color: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input{
    font: 40px;
    color: #000;
    height: 10%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder{
    color: #000;
    opacity: 0.7;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}

.rodape{
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #000;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }