@media (max-width: 768px){
    .formulario{
        display: none;
    }
    .menu-item{
        font-size: 14px;
    }
    
    .video{
        width: 300px;
        height: 200px;
    }
    
}